@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(assets/fonts/Roboto-Regular.ttf) format("truetype");
  }
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(assets/fonts/Roboto-Bold.ttf) format("truetype");
  }
}

#root {
  @apply font-roboto text-[1rem] lg:bg-grey600 min-h-screen w-full lg:flex lg:items-center lg:justify-center;
}

.listgroup li::before {
  content: url("assets/images/icon-list.svg");
  @apply pr-2;
}

.listgroup li {
  @apply flex;
}

h1 {
  @apply text-4xl font-bold text-grey800 
}

p {
  @apply text-grey600
}